# Files
update_requirements.sh
mkdocs.yml

# Folders
.github/
.input_old/
.model_old/
Skjern_Models/**
MapsDK/
MapsDK.zip
code/.extra_books/
code/simple_box/*
.vscode/
observations/MS/
output_sample/
model/
input/

# Keep a few files for explore_input_data.ipynb
!input/domain/ID15_oplande_Skjern.shp
!input/topography/dkmj_topo_0.dfs2
!input/climate/*
!input/land_use/DK_Landuse_9kl_5cropsCorr_100m_MB500.dfs2
!input/land_use/crop_map_irrigation_5class_500m.dfs2
!input/land_use/Deficit_factor_5veg_tpl.dfs0
!input/land_use/DK_2018_Veg_Prop_inv_100m.etv
!input/rivers_lakes_sewers/500m_Skjern.xns11
# saturated and unsaturated folders
!input/saturated/Drain

# Keep a few files for model_validation.ipynb
!observations/Q_data/Q_filtered.dfs0
!observations/H_data/H_data_filtered/*
!observations/H_data/head_evel_SZ.csv
# !output_sample/mshe_output/HIP_500m_Skjern_DHI_RiverLinks.shp
# !output_sample/mshe_output/HIP_500m_Skjern_DHIDetailedTS_M11.dfs0
# !output_sample/mshe_output/HIP_500m_Skjern_DHIDetailedTS_SZ.dfs0

# Keep files for view_mikeshe_results.ipynb
!output_sample/mshe_output/HIP_500m_Skjern_DHI_overland.dfs2
!output_sample/mshe_output/HIP_500m_Skjern_DHI_3DSZflow.dfs3
!output_sample/mshe_output/HIP_500m_Skjern_DHI_ET_UzCells.dfs2
!output_sample/mshe_output/HIP_500m_Skjern_DHI_ET_UzCells.dfs2
!output_sample/mshe_output/HIP_500m_Skjern_DHI_overland.dfs2
!output_sample/mshe_output/HIP_500m_Skjern_DHI_overland.dfs2
!output_sample/mshe_output/HIP_500m_Skjern_DHI_3DSZflow.dfs3
!output_sample/mshe_output/HIP_500m_Skjern_DHI_3DSZflow.dfs3
!output_sample/mshe_output/HIP_500m_Skjern_DHI_2DSZ.dfs2
!output_sample/mshe_output/HIP_500m_Skjern_DHI_3DSZ.dfs3
!output_sample/waterbalance_output/*

# add model files
# !model/500m_Skjern.mshe

# But do not ignore these specific file types
# !Skjern_Models/**/*.she
# !Skjern_Models/**/*.mhydro
# !Skjern_Models/**/*.xns11
# !MapsDK/Hdata/Hdata_filtered/*.dfs0
# !code/simple_box/*Box.she
# !code/simple_box/*.dfs2


#!Skjern_Models/**/*.log

# Specific files for explore_input_data.ipynb
# !MapsDK/DK_DMI_Corr_Precip_10km_1989-2022.dfs2
# !MapsDK/dkmj0219/dkmj_topo_0.dfs2
# !MapsDK/DKDomains2013/ID15_oplande_Skjern.shp
# !MapsDK/DK_DMI_Corr_Precip_10km_1989-2022.dfs2
# !MapsDK/DK_Ta_20km_1989-2022.dfs2
# !MapsDK/DK_ETref_0.95vest_for_storebaelt_20km_1989-2022.dfs2
# !MapsDK/DK_Landuse_9kl_5cropsCorr_100m_MB500.dfs2
# !MapsDK/crop_map_irrigation_5class_500m.dfs2
# !Skjern_Models/Setup/Deficit_factor_5veg_inv.dfs0
# !Skjern_Models/Setup/DK_2018_Veg_Prop_inv_100m.etv
# !Skjern_Models/Setup/500m_Skjern.xns11

# For model_validation.ipynb
# !MapsDK/Qdata/Q_filtered.dfs0
# !MapsDK/Hdata/head_evel_SZ.csv

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Sphinx
/doc/_build/